{% include "header.html" %}

<!-- Page Header -->
<header
        class="masthead"
        style="background-image: url('{{ url_for('static',filename='img/home-bg.jpg') }}')"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Flask Blog</h1>
                    <span class="subheading">A Bootstrap Blog Powered By Flask</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <!-- using jinja template style to get data -->

            {% for post in all_post %}
                <div class="post-preview">
                    <a href="{{ url_for('show_post', index=post.id) }}">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ post.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.date }}
                    </p>
                </div>
                <hr/>

                <!-- end of loop -->
            {% endfor %}


            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#"
                >Older Posts &rarr;</a
                >
            </div>
        </div>
    </div>
</div>

<hr/>

{% include "footer.html" %}