<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <title>Flask Blog</title>

</head>
<body>

<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        <div class="card">
            <h1> {{ post.title }}</h1>
            <h2> {{ post.subtitle }}</h2>
            <p> {{ post.body }}</p>
        </div>
    </div>
</div>


<footer>
    <p>Copyright {{ year }} Build By Mubin At Home</p>
</footer>
</body>
</html>