<!-- inherit all style from base page -->

{% extends "bootstrap/base.html" %}

<!-- page title -->
{% block title %}Denied{% endblock %}

<!-- body section -->
{% block content %}

    <div class="container">
        <h1> Access Denied </h1>
        <div class="card" style="width: 40rem;">
            <div style="width:100%;height:0;padding-bottom:75%;position:relative;">

                <iframe src="https://giphy.com/embed/26u4m6DWqw4Zef38Y" width="100%" height="100%"
                        style="position:absolute"
                        frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <p><a href="https://giphy.com/gifs/hyperrpg-reaction-no-26u4m6DWqw4Zef38Y">via GIPHY</a></p>
        </div>

    </div>

{% endblock %}